Source: pax-utils
Section: misc
Priority: extra
Maintainer: Tomasz Buchert <tomasz.buchert@inria.fr>
Build-Depends: debhelper (>= 9), libcap2-dev [linux-any], python
Standards-Version: 3.9.5
Homepage: http://dev.gentoo.org/~solar/pax-utils/
Vcs-Git: git://anonscm.debian.org/collab-maint/pax-utils.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/pax-utils.git

Package: pax-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: paxctl
Description: Security-focused ELF files checking tool
 This is a small set of various PaX aware and related utilities for ELF
 binaries. It can check ELF binary files and running processes for
 issues that might be relevant when using ELF binaries along with PaX,
 such as non-PIC code or executable stack and heap.
